@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}

body.dark{
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #fff;
    --text-black-700: #e9e9e9;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

::before, ::after{
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
    background-color: var(--bg-black-900);
} 

.section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 2rem;
    opacity: 1;
}

.hidden{
    display: none !important;
}

/*.main-container{
    padding-right: 3rem;
    padding-left: 3rem;
}*/

.main-content{
    padding-left: 18rem;
}

.padd-15{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.padd-space{
    padding-top: 6rem;
}

.container{
    max-width: 100rem;
    width: 100%;
    margin: auto;
}

.section .container{
    padding-top: 6rem;
    padding-bottom: 7rem;
}

.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 0.3rem;
}

.section-title h2{
    font-size: 3rem;
    color: var(--text-black-900);
    font-weight: 700;
}

.section-title h2::before{
    content: '';
    height: 0.4rem;
    width: 5rem;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after{
    content: '';
    height: 0.4rem;
    width: 3rem;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 0.7rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    position: relative;
}

.btn{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem 2rem;
    background: var(--skin-color);
    color: white;
    border-radius: 0.4rem;
    display: inline-block;
    white-space: nowrap;
    border: none;
    transition: all 0.3s ease;
}

.btn:hover{
    transform: scale(1.05);
}

.shadow-dark{
    box-shadow: 0 0 0.2rem rgba(48, 46, 77, 0.15);
}

@media (max-width:1199px){
  /*  .aside{
        left: -27rem;
    }*/
    .main-content{
        padding-left: 0;
    }
    .about .about-content .personal-info .info-item p span{
        display: block;
        margin-left: 0;
    }

    .medias iframe{
        flex: 0 0 95%;
        max-width: 95%;
    }

    .medias img{
        flex: 0 0 95%;
        max-width: 95%;
    }
}

@media (max-width:991px){
    .medias .medias-item,
    .portfolio .portfolio-item{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .medias iframe{
        flex: 0 0 50%;
        max-width: 50%;
    }

    
    .home .home-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
   .home .home-img{
       display: none;
   } 
}

@media (max-width:767px){
    .portfolio .portfolio-item,
    .medias .medias-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .personal-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
